{% include fonts.html %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/custom.css">
<script src="https://kit.fontawesome.com/3939502b43.js" crossorigin="anonymous"></script>
<script async defer data-domain="aaroncarson.co.uk" src="https://pls.acx.pw/js/plausible.js"></script>
<title>{{ page.title }}</title>
{% include favicon.html %}
{% feed_meta %}
{% seo %}
