$primary: #123456;
$navbar-brand-font-family: Space Mono, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$navbar-brand-font-weight: 700;

.emoji {
  height:20px;
}