<!doctype html>
<html lang="en">
    <head>
    {% include head.html %}
    </head>

    <body>
        <div class="h-100 flex-column">
            {% include nav.html %}

            <div class="flex-column jumbotron text-center jumbotron-fluid"> 
                <h1 class="display-4 font-weight-normal">{{ page.title }}</h1>
            </div>

            <div class="flex-column mx-auto py-4 flex-grow-1 vertical-center" style="width: 85%">
                {{ content }}
            </div>
            {% include foot-js.html %}
        </div>
    </body>
</html>
